:root {
    --app-bg: url(https://github.com/rhoysm/discord-assets/blob/main/Addons/wallpaper.png?raw=true);
    --blur-bg: 80px;
    --blur-other: 30px;
    --brightness-bg: 0.5;

    --color-main: rgba(255, 255, 255, 0.1);
    --border-main: 1px solid rgba(255, 255, 255, 0.1);
    --boxshadow: inset 0 0 10px rgba(100, 100, 100, 0.1);
}

body {
    background: var(--app-bg) !important;
    background-position: 15% !important;
    background-size: 105% 105% !important;
}

.bg__960e4 {
    backdrop-filter: blur(var(--blur-bg)) brightness(var(--brightness-bg));
}

.visual-refresh .theme-darker,
.visual-refresh.theme-darker {
    --background-base-lowest: transparent;
    --bg-base-tertiary: transparent;
    --background-tertiary: transparent;
    --background-secondary: transparent;
    --background-primary: transparent;
    --background-base-lower: transparent;
    --custom-channel-members-bg: transparent;
    --background-base-low: transparent;

    --bg-brand: rgba(255, 255, 255, 0.2);
    --background-code: rgba(255, 255, 255, 0.05);
    --button-filled-brand-background: rgba(255, 255, 255, 0.1);
    --button-filled-brand-background-hover: rgba(255, 255, 255, 0.2);
    --background-surface-high: rgba(255, 255, 255, 0.15);
    --background-secondary-alt: rgba(255, 255, 255, 0.1);
    --background-modifier-hover: rgba(255, 255, 255, 0.15);
    --background-mod-subtle: rgba(255, 255, 255, 0.15);
    --card-primary-bg: rgba(255, 255, 255, 0.15);
    --bg-base-secondary: rgba(255, 255, 255, 0.15);

    --brand-500: rgba(91, 103, 234, 0.4);
    --text-feedback-positive: rgba(255, 255, 255, 0.65);
    --green-360: rgba(255, 255, 255, 0.65);
}

.visual-refresh .root_bfe55a {
    background: transparent;
}

.callContainer_cb9592 {
    background: transparent;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: var(--border-main);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.wrapper_cb9592.minimum_cb9592 {
    background: transparent !important;
}

.gradientContainer_bfe55a {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.04) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.callContainer_cb9592:has(.actionRow__6981d) {
    margin: unset;
    border-radius: unset;
    border: unset;
    box-shadow: unset;
}

.chat_f75fb0:has(.actionRow__6981d) {
    border: unset !important;
}

.chat_f75fb0:has(.actionRow__6981d) .form_f75fb0 {
    margin: unset !important;
}

.border__2f4f7.speaking__2f4f7 {
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.2) inset;
}

.menu_c1e9c4 {
    background: rgba(0, 0, 0, 0.158);
    border: var(--border-main);
}

.menu_c1e9c4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--blur-other));
    pointer-events: none;
    z-index: -1;
    border-radius: 8px;
}

#image-context[class*="c1e9c47c23f12ca3-menu"] {
    backdrop-filter: blur(var(--blur-other));
}

.tooltip_c36707 {
    background: rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(var(--blur-other));
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.tooltipPrimary_c36707 .tooltipPointer_c36707 {
    display: none;
}

.visual-refresh .wrapper_f7ecac {
    background: transparent;
    backdrop-filter: blur(var(--blur-other));
    border: var(--border-main);
}

.reactionTooltip_b49891 {
    background: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(var(--blur-other));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.banner__68edb {
    background: rgba(255, 255, 255, 0.05) !important;
}

.user-profile-modal,
.root__24502,
.inner_c0bea0 {
    background: transparent !important;
    backdrop-filter: blur(10px);
}

.outer_c0bea0,
.inner_c0bea0 {
    background: rgba(255, 255, 255, 0.05) !important;
}

.outer_ab8609 {
    background: transparent;
}

.accountProfileCard__1fed1 {
    border: var(--border-main);
}

:where(.overlay_c0bea0) {
    background: rgba(145, 145, 145, 0.1);
    border: var(--border-main) !important;
}

.channelBottomBarArea_f75fb0 {
    backdrop-filter: blur(var(--blur-other));
}

.channelTextArea_f75fb0 {
    background: transparent !important;
}

.scrollableContainer__74017 {
    background: rgba(255, 255, 255, 0.03) !important;
    border: var(--border-main);
    box-shadow: var(--boxshadow);
}

.hoverButtonGroup__06ab4 {
    background: rgba(255, 255, 255, 0.1);
    border: var(--border-main) !important;
    backdrop-filter: blur(var(--blur-other));
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.visual-refresh .messagesPopoutWrap_e8b59c,
.visual-refresh .messageGroupWrapper_e8b59c {
    background: rgba(120, 120, 120, 0.1);
    backdrop-filter: blur(10px);
}

.visual-refresh .header_e8b59c {
    background: rgba(0, 0, 0, 0.3);
    border-bottom: var(--border-main) !important;
}

.visual-refresh .file__0ccae {
    background: rgba(0, 0, 0, 0.3);
}

.visual-refresh .jumpButton_e8b59c {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.visual-refresh .panels__5e434 {
    background: rgba(255, 255, 255, 0.03) !important;
    border: var(--border-main) !important;
    backdrop-filter: blur(var(--blur-bg));
    box-shadow: var(--boxshadow);
}

.panel__5dec7 {
    background: transparent !important;
}

.buttonSection__1405b {
    background:
        radial-gradient(90.42% 100% at 50% 100%, rgba(19, 18, 18, 0.5) 60%, transparent 100%),
        linear-gradient(270deg, rgba(40, 39, 43, 0.5) 0, rgba(29, 29, 32, 0.5) 100%) !important;
    backdrop-filter: blur(10px);
}

.disconnect_f1ceac {
    background:
        radial-gradient(90.42% 100% at 50% 100%, rgba(19, 18, 18, 0.5) 60%, transparent 100%),
        linear-gradient(270deg, rgba(122, 71, 90, 0.5) 0, rgba(122, 71, 86, 0.5) 100%) !important;
}

.buttonSection__1405b,
.disconnect_f1ceac {
    border: none;
}

button.vc-ranb-button.button__201d5.lookFilled__201d5.sizeMin__201d5.grow__201d5 {
    border: none;
}

.container__3f21e.checked__3f21e {
    background-color: rgba(255, 255, 255, 0.24) !important;
}

:where(.visual-refresh) .checkbox_f525d3.checked_f525d3 {
    background:
        radial-gradient(90.42% 100% at 50% 100%, rgba(226, 135, 135, 0.5) 60%, transparent 100%),
        linear-gradient(270deg, rgba(31, 17, 119, 0.5) 0, rgba(130, 110, 238, 0.5) 100%) !important;
    border: none;
}

.barFill_a562c8 {
    background:
        radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-color: transparent !important;
    border: none;
}

.artContainer_a55fdc {
    display: none !important;
}

.border_a55fdc,
.modalFooter_a55fdc {
    background-color: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(20px);
}

.visual-refresh .container_a55fdc {
    background:
        radial-gradient(90.42% 100% at 50% 100%, rgba(0, 0, 0, 0) 60%, transparent 100%),
        linear-gradient(270deg, rgba(27, 27, 29, 0.5) 0, rgba(35, 35, 39, 0.5) 100%);
}

.quickSelectPopout_ebaca5 {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px);
}

.root__49fc1 {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

.footer__49fc1 {
    background: transparent;
}

.container_abd9a8 {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}
